opencv-python==4.8.1.78
fvcore 
pytorchvideo 
simplejson 
psutil 
tensorboard
timm==0.9.7
pillow
scipy==1.15.3
yacs>=0.1.6
pyyaml>=5.1
av
termcolor>=1.1
tqdm
matplotlib==3.9
pandas
sklearn
fairscale
numpy==1.24.3